<%- include('partials/header.ejs') %>
<script src="/js/reports.js"></script>
<nav class="navbar navbar-light bg-light">
<a href="/admin">Administrator Options</a>
<a href="/reports">Reports</a>
</nav>
<hr /> 
<div class="container" style="text-align:center">
   <button id="x-btn" type="button" class="btn btn-primary btn-success">Generate Report X</button><br>
   <button id="y-btn" type="button" class="btn btn-primary btn-success">Generate Report Y</button><br>
   <button id="z-btn" type="button" class="btn btn-primary btn-success">Generate Report Z</button><br>
</div>
    <hr />
<%- include('partials/footer.ejs') %>