<%- include('partials/header.ejs') %>
<script src="/js/cart.js"></script>

<h1 style="text-align: left" class="pl-5"> Shopping Cart </h1>
<hr /> 
<div class="pl-5" id="cartList">
 
</div>

<div id="priceTotals">
    <h5 id="summary"> Order Summary </h5>
    <hr />
    <p id = "itemsTotal"> Items: $0.00 </p>
    <p id = "taxTotal"> Tax: $0.00 </p>
    <hr id = "hr1"/>
    <p id="orderTotal"> Order Total: $0.00 </p>
    <hr id="hr2" />
    <button class="btn btn-primary" id="placeOrder"> Place Order </button>
    <span id="cartError"> </span>
</div>

<!--footer.ejs not added because it displays incorrectly at this time-->
   </body>
</html>