<%- include('partials/header.ejs') %>
<script src="/js/search.js"></script>

    <h4>♪ Find an album... </h4>
     <input type="text" id="albumSearch" placeholder="Title, artist, or genre"> 
     <input type="text" id="priceSearch" placeholder="Price is less than..."> 
     
     <br /> <br />
    <h5>Recommended Albums for you: </h5>
    
    <!-- Searched for albums show here. Default before search is a randomly selected album. -->
    
    <div id="checkboxContainer">
        <input class="checkBox" type="checkbox" id="rock" name="rock" value="rock"> Rock </input> 
        <input class="checkBox" type="checkbox" id="pop" name="pop" value="pop"> Pop </input> 
        <input class="checkBox" type="checkbox" id="classical" name="classical" value="classical"> Classical </input> 
        <input class="checkBox" type="checkbox" id="jazz" name="jazz" value="jazz"> Jazz </input> 
        <input class="checkBox" type="checkbox" id="blues" name="blues" value="blues"> Blues </input> 
    </div> <br /> 
    
   <span id="searchResult">

  <div class="row"> <div class="col"> <div class="card"> <div class="card-body"> <img src="/img/abbeyroad.jpg" alt="Abbey Road - Beatles"> <br> <strong> Artist: </strong> The Beatles <strong> Album: </strong> <i> Abbey Road </i> <strong> <br> Price: </strong> $25 <br> <button value="1" class="btn btn-outline-secondary"> <strong> Add to Cart </strong> </button> </div> </div></div></div>
   
    </span>
    <br /> <br />
    
<!--Album Image Sources    -->
<!--Blue Öyster Cult - Fire of Unknown Origins: http://www.metalmusicarchives.com/images/covers/blue-oyster-cult-fire-of-unknown-origin-20170704142515.jpg						-->
<!--Blue Öyster Cult - Extraterrestrial Live: http://ecx.images-amazon.com/images/I/61FLFe0x46L._SL500_AA300_.jpg						-->
						
<!--Oingo Boingo - Dead Man's Party: http://i163.photobucket.com/albums/t306/shakesville/Boingo-Dead-Mans-Party-460118.jpg						-->
<!--Oingo Boingo - Only a Lad: http://cps-static.rovicorp.com/3/JPG_500/MI0000/032/MI0000032015.jpg?partner=allrovi.com						-->
						
<!--Metallica - Master of Puppets: https://upload.wikimedia.org/wikipedia/en/b/b2/Metallica_-_Master_of_Puppets_cover.jpg						-->
						
						
<!--The Emancipation of Mimi - Mariah Carey: https://www.last.fm/music/Mariah+Carey/The+Emancipation+of+Mimi, Cover art for the album The Emancipation of Mimi by Mariah Carey. Photography by Markus Klinko and Indrani. Copyright held by Island Records.						-->
						
<!--Merry Christmas - Mariah Carey: https://www.sonymusic.co.jp/adm_image/common/artist_image/20030000/20030126/jacket_image/92735__440_440_0.jpg,The cover art copyright is believed to belong to the record label or the graphic artist(s).						-->
						
<!--Trilogy - The Weeknd: Republic Records, The cover art copyright is believed to belong to the label, Republic Records, or the graphic artist(s).						-->
						
<!--21 - Adele: https://play.google.com/store/music/album/Adele_21?id=Bemgd6tmbxxpsg5qsnk4hsftel4&hl=en, The cover art copyright is believed to belong to the label, XL Recordings, or the graphic artist(s).						-->
						
<!--Unorthodox Jukebox - Bruno Mars: https://www.instagram.com/p/RLQ8Eku8zI/,,  The cover art copyright is believed to belong to the label, Atlantic Records, or the graphic artist(s).							-->
<!--I Used to Know Her - H.E.R.: https://genius.com/albums/Her/I-used-to-know-her,, The cover art copyright is believed to belong to the label, RCA Records, or the graphic artist(s).		-->
						
<!--don't smile at me - Billie Elish: https://itunes.apple.com/us/album/dont-smile-at-me/1322774442, The cover art copyright is believed to belong to the label, Interscope Records, or the graphic artist(s).										-->
						
<!--Frank Sinatra - Come Fly with Me:  https://en.wikipedia.org/wiki/Come_Fly_with_Me_(Frank_Sinatra_album)#References						-->
<!--Etta James - Queen of Soul: https://en.wikipedia.org/wiki/Queen_of_Soul_(album)						-->
<!--BB King - Blues on Top of Blues:  https://en.wikipedia.org/wiki/Blues_on_Top_of_Blues						-->
<!--Miles Davis - Kind of Blue:  https://en.wikipedia.org/wiki/Kind_of_Blue						-->
<!--Pink Floyd - Dark Side of the Moon:  https://en.wikipedia.org/wiki/The_Dark_Side_of_the_Moon						-->


<!--https://www.udiscovermusic.com/wp-content/uploads/2017/08/Abbey-Road.jpg-->

<!--https://i.ebayimg.com/images/g/9cQAAOSwaCVcaZjc/s-l640.jpg-->

<!--https://lh3.googleusercontent.com/proxy/-yyz9MeI_A3CvnvULgyIUjML0cIdwfcL81QDkmlIyAXge05inge0f1JvPEZImB42SuQIzPT-04v7fVNzFadgVozsp2BQDrlY3kxjY5ofeDbHW17wd2J7nu0d0t0-->

    
<%- include('partials/footer.ejs') %>