<%- include('partials/header.ejs') %>
<script src="/js/reports.js"></script>
<nav class="navbar navbar-light bg-light">
<a href="/admin">Administrator Options</a>
<a href="/reports">Reports</a>
</nav>
<hr /> 
<div class="container" style="text-align:center">
    <button id="totOrd-btn" type="button" class="btn btn-primary btn-success">Total Sales Report</button><br>
   <button id="avgOrd-btn" type="button" class="btn btn-primary btn-success">Average Order Cost Report</button><br>
   <button id="avgAlb-btn" type="button" class="btn btn-primary btn-success">Average Album Price Report</button><br>
</div>
    <hr />
    <h3 id="reportTitle"></h3>
    <br /><br />
    
    <p id="reportBody"></p>
    <br /><br />
    <hr />
    
<%- include('partials/footer.ejs') %>